<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<%= render 'phone_numbers/phone_numbers', contact: @person %>

<%= render 'email_addresses/email_addresses', contact: @person %>

<%= render 'contacts/actions', contact: @person %>
