<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @company.name %>
</p>

<%= render 'phone_numbers/phone_numbers', contact: @company %>

<%= render 'email_addresses/email_addresses', contact: @company %>

<%= render 'contacts/actions', contact: @company %>
